.card {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card__content {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing);
  width: 100%;
  height: 100%;
  padding: var(--spacing);
  border: 5px solid var(--color-black);
  background-color: var(--color-white);
}

.card__header {
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--spacing) / 2);
}

.card__header__theme,
.card__description,
.card__header__theme,
.card__content span {
  word-break: break-word;
}

.card__description {
  font-weight: var(--font-weight);
}

.card__header__theme {
  font-weight: var(--font-weight);
  background-color: var(--color-black);
  color: var(--color-white);
  padding: calc(var(--spacing) / 3);
  width: fit-content;
  max-width: 100%;
}