.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  transition: opacity var(--transition-duration) var(--transition-timing-function);
}
