.container {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

.container__swipper {
  position: absolute;
  top: calc(50% + var(--spacing));
  left: 50%;
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--spacing) * 2);
  align-items: center;
  width: 100%;
  padding: var(--spacing);
  transform: translate(-50%, -50%);
}

.container__swipper_app {
  position: relative;
  display: block;
  width: 80dvw;
  max-width: 300px;
  min-height: calc(300px * 1.5);
}

.container__swipper_remaining {
  text-align: center;
}

.container__header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacing);
}

.container__header_link {
  text-decoration: underline;
}

.container__header_counter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 18.72px;
}

.container__header_counter_char {
  font-size: 18.72px;
}

.matter_scene {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
