.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  padding: var(--spacing);
}

.container__menu {
  position: absolute;
  color: var(--color-black);
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--spacing) / 2);
}

.container__scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container__scene canvas:not(:first-child) {
  display: none;
}

.container__scene canvas:first-child {
  display: block;
}
