@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-red: #f3070b;
  --color-black: #000;
  --color-white: #fff;
  --font-family: "Inter", sans-serif;
  --spacing: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

*::selection {
  color: var(--color-red);
  background-color: var(--color-black);
}

body {
  color: var(--color-black);
  font-weight: bold;
  font-size: 16px;
  font-family: var(--font-family);
  background-color: var(--color-red);
}

a {
  color: inherit;
  text-decoration: none;
}
